@keyframes rotateAndScale {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(10deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

.home_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.home_greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.picturte_cont{
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}
.home_picture {
    height: 180px;
    width: 180px;
    border-radius: 150px;
    border: solid #aa5959 4px;
}
.home_greeting_text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.home_hi,
.home_name {
    font-family: "Newake", sans-serif;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
}
.home_name {
    color: #aa5959;
}
.home_hi {
    color: transparent;
    -webkit-text-stroke: 2.5px #aa5959;
}
.home_about_container {
    width: 65%;
}
.home_about_text {
    padding-top: 1%;
    font-family: "WarungKopi", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #616161;
}
.star {
    position: absolute;
    height: auto;
    z-index: 1;
    animation: rotateAndScale 1s ease-in-out infinite;
}
.star_big1 {
    width: 53px;
    top: 0px;
}

.star_small1 {
    width: 20px;
    top: 55px;
    left: -20px;
}

.star_big2 {
    width: 53px;
    bottom: 0px;
    right: 0px;
}

.star_small2 {
    width: 20px;
    bottom: 53px;
    right: -15px;
}

/* mobile small */
@media only screen and (min-width: 200px) and (max-width: 325px) {
    .home_greeting_text {
        gap: 2px;
    }
    .home_hi {
        -webkit-text-stroke: 1.5px #aa5959;
    }
    .home_hi,
    .home_name {
        font-size: 30px;
    }
    .home_picture {
        height: 120px;
        width: 120px;
      
    }
    .home_about_container {
        width: 75%;
    }
    .home_about_text {
        padding-top: 1%;
        font-size: 15px;
    }

    .star_big1 {
        width: 33px;
        top: 0px;
    }
    
    .star_small1 {
        width: 18px;
        top: 30px;
        left: -24px;
    }
    
    .star_big2 {
        width: 33px;
        bottom: 0px;
        right: 0px;
    }
    
    .star_small2 {
        width: 18px;
        bottom: 30px;
        right: -20px;
    }
}


/* //tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .home_greeting {
        margin-top: 3%;
        flex-direction: column;
        gap: 15px;
    }
    .home_greeting_text {
        gap: 1px;
    }
    .home_hi,
    .home_name {
        font-size: 70px;
        letter-spacing: 2px;
        text-align: center;
    }
    .home_about_text {
        padding-top: 1%;
        font-size: 33px;
    }
    .home_picture {
        height: 240px;
        width: 240px;
    }
}

@media only screen and (min-width: 1025px) { 
    .home_greeting {
        margin-top: 3%;
        flex-direction: row;
        gap: 35px;
    }
    .home_hi,
    .home_name {
        font-size: 80px;
        letter-spacing: 2px;
        text-align: start;
    }
    .home_about_text {
        padding-top: 1%;
        font-size: 28px;
    }
    .home_picture {
        height: 240px;
        width: 240px;
    }
}